urls_downloaded_cb({"token":"rules","urls":[{"url":"CONTRIBUTING.html#committers","node_type":"p","page":"Contributing","sections":["Technical Steering Committee","Committers"],"context":{"gi-language":["default"]}},{"url":"coding-convention.html#c-files-cc","node_type":"p","page":"Coding Convention","sections":["Coding Convention","C++ files (.cc)"],"context":{"gi-language":["default"]}},{"url":"contributing.html#coding-convention","node_type":"p","page":"How to contribute","sections":["How to Contribute","Coding Convention"],"context":{"gi-language":["default"]}},{"url":"contributing.html#merge-criteria","node_type":"ul","page":"How to contribute","sections":["How to Contribute","Code Reviews and PRs","Merge Criteria"],"context":{"gi-language":["default"]}}]});